// Variables for common styles
$fixed-position: fixed;
$full-width: 100%;
$z-index-level: 100;
$padding-percentage: 3%;

.header-bar-content {
  position: $fixed-position;
  top: 0;
  width: $full-width;
  z-index: $z-index-level;
}

.body-content {
  text-align: center;
  height: $full-width; // 100% height
  padding-top: $padding-percentage;
  padding-bottom: $padding-percentage;
}

.bottom-bar-content {
  position: $fixed-position;
  bottom: 0;
  width: $full-width;
  z-index: $z-index-level;
}
