<div>
    <div class="" style="margin-top: 1%; min-width: 100%;">
        <img src="homepage_banner_final.png" alt="Home Page Banner image comes here !!!" />
    </div>
    <h3>Claims in Numbers </h3>
    <div class="grid">
        <div class="col-12 sm:col-6 lg:col-3 text-left">
        </div>
        <div class="col-12 sm:col-6 lg:col-3">
            <div class="card flex">
                <p-card header="Total Active Claims">
                    <p class="m-0">
                        {{this.analyticsData.totalActiveClaims}}+
                    </p>
                </p-card>
            </div>
        </div>
        <div class="col-12 sm:col-6 lg:col-3">
            <div class="card flex justify-content-left">
                <p-card header="Total Processed Claims">
                    <p class="m-0">
                        {{this.analyticsData.totalProcessedClaims}}+
                    </p>
                </p-card>
            </div>
        </div>
        <div class="col-12 sm:col-6 lg:col-3">
            <div class="card flex justify-content-left">
                <p-card header="Total Amount Paid">
                    <p class="m-0">
                        {{this.analyticsData.totalAmountPaid}}+
                    </p>
                </p-card>
            </div>
        </div>
    </div>
    

    

</div>
